
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master.cshtml";
}
<div class="content-home">
    <h2>Welcome to the Bank Application</h2>
    <p>This is an attempt to rebuild the bank application in MVC. </p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

</div>

